table {
    width: 100%;
    text-align: center;
}
td {
    vertical-align: top;
}
.sidebar {
    width: 400px;
    background: #ff4444;
}
.article {
    background: #41fc44;
}
.aside {
    width: 200px;
    background: #3a65ff;
}
